@model HMS.Models.DepartmentModel

<div class="d-flex justify-content-between mb-4">
    <div class="h4">Department Information</div>
    <div>
        <span class="text-primary">Hospital Management</span> >
        <span class="text-primary">Department</span> >
    </div>
</div>

