

<div class="d-flex justify-content-between mb-4">
    <div class="h4">Patient Information</div>
    <div class=""> <span class="text-primary">Hospital Management </span> > <span class="text-primary">Patient</span> >Add Patient</div>
</div>

<div class="card p-3">
    <form method="post" asp-controller="Patient" asp-action="PatientAddEdit">
        <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input type="text" id="Name" name="Name" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="dateofbirth" class="form-label">Date of Birth</label>
            <input type="date" id="dateofbirth" name="dateOfBirth" class="form-control" />
        </div>

        <div class="col-auto mb-3">
            <label class="mb-2" for="autoSizingSelect">Gender</label>
            <select class="form-select" id="autoSizingSelect">
                <option selected>--Select Gender-- </option>
                <option value="1">Male</option>
                <option value="2">Female</option>
                <option value="3">Other</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <input type="email" id="Email" name="Email" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="number" id="phone" name="phone" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <input type="text" id="address" name="address" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="city" class="form-label">City</label>
            <input type="text" id="city" name="city" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="state" class="form-label">State</label>
            <input type="text" id="state" name="state" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <a href="#" class="btn btn-secondary">Cancel</a>
    </form>

</div>

